<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467494228379-p9tcgjm75285i3fcs40t1ra8b2cv7ls1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467494228379-p9tcgjm75285i3fcs40t1ra8b2cv7ls1</string>
	<key>API_KEY</key>
	<string>AIzaSyAMFUH2yTATfo4uWuNxvL5nClzpqvouS_A</string>
	<key>GCM_SENDER_ID</key>
	<string>467494228379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mes.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-c27be</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-c27be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467494228379:ios:5dae407ea2bf7967ea913e</string>
</dict>
</plist>